:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --color-dark: #202020;
    --color-dark-blue: #2B2A3A;
    --color-frame: #181722;
    --color-second-frame: #3c3953;
    --color-third-frame: #524E72;

    --color-rarity-gold: #F9D941;
    --color-rarity-violet: #C07BE5;
    --color-rarity-blue: #547FD0;
    --color-rarity-green: #76B58F;
    --color-rarity-grey: gray;

    --color-text: #FFFFFF;
    --color-text-second: #ACACAC;
    --color-text-accent: #5061FF;
    --color-text-disabled: #424bba;
    --color-text-danger: #ff0000;

    --btn-color: #5061FF;
    --btn-color-hover: #2e41bf;

    --btn-color-category: #5061FF;
    --btn-color-category-hover: #2e41bf;
    --btn-color-delete: #b60000;
    --btn-color-delete-hover: #8b0000;

    --color-bg-avatar: #FFFFFF;
    --color-bg-comment: #FFFFFF;

    --spacing-extra-small: 0.25rem; /* 4px 1*/
    --spacing-small: 0.5rem; /* 8px 2*/
    --spacing-medium: 1rem; /* 16px 3*/
    --spacing-large: 1.5rem; /* 24px 4*/
    --spacing-extra-large: 3rem; /* 48px 5*/

    --font-size-small: 1rem; /* 16px */
    --font-size-normal: 1.125rem; /* 18px */
    --font-size-medium: 1.5rem; /* 24 */
    --font-size-large: 2.5rem; /* 32 */

    --border-author-right: 1px solid var(--color-white);
    --border-author-bottom: 1px solid var(--color-white);
    --border-item-left: 1px solid var(--color-black);
    --border-item-left-white: 1px solid var(--color-white);

    --width-line: 1.5rem;
    --height-line: 2px;

    --block-number-width: 3rem;

    /*--box-shadow: 0 2px 24px rgba(168, 175, 196, 0.5);*/
}

@font-face {
    font-family: "Jura Regular";
    font-weight: 400;
    font-style: normal;
    src: local("Jura Regular"),
    url("../fonts/Jura-Regular.woff");
}

@font-face {
    font-family: "Jura Medium";
    font-weight: 500;
    font-style: normal;
    src: local("Jura Medium"),
    url("../fonts/Jura-Medium.woff");
}

@font-face {
    font-family: "Jura SemiBold";
    font-weight: 600;
    font-style: normal;
    src: local("Jura SemiBold"),
    url("../fonts/Jura-SemiBold.woff");
}

h1 {
    font-family: "Jura SemiBold", sans-serif;
    font-size: var(--font-size-large);
    font-weight: 600;
    color: var(--color-text);
}

h2 {
    font-family: "Jura Medium", sans-serif;
    font-size: var(--font-size-medium);
    font-weight: 500;
    color: var(--color-text);
}

h3 {
    font-family: "Jura Regular", sans-serif;
    font-size: var(--font-size-normal);
    font-weight: 400;
    color: var(--color-text);
}

a {
    color: var(--color-text);
}

a:hover {
    cursor: pointer;
    color: var(--color-text-accent);
}

html, body {
    font-family: "Jura Regular", sans-serif;
    height: 100%;
}

body {
    background: var(--color-dark-blue);
}

/* header */
.header {
    min-height: 80px;
}

.header-nav {
    height: 100%;
    justify-content: space-between;
    padding: var(--spacing-medium);
}

.header-nav-list {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header-nav-list__item {
    position: relative;
    display: inline-block;

    align-items: center;
}

.header-nav-list__item:not(:last-child) {
    margin-right: var(--spacing-large);
}

.header-nav-list__item a {
    font-family: "Jura Regular", sans-serif;
    font-size: var(--font-size-medium);
}

.header-nav-list__icon {
    width: 16px;
    height: 9px;
    background: url("../image/icon/arrow.svg") no-repeat;
    background-size: contain;
    margin-left: var(--spacing-small);
}

.header-nav__sub-news {
    display: none;
    position: absolute;
    top: 24px;
    left: -40px;
    background-color: var(--color-frame);
    padding: var(--spacing-medium);
    z-index: 1;
}

.header-nav__sub-item {
    display: none;
    position: absolute;
    top: 24px;
    left: -18px;
    background-color: var(--color-frame);
    padding: var(--spacing-medium);
    z-index: 1;
}

.sub-menu {
    display: flex;
}

.header-nav__sub-news a {
    display: block;
    margin-top: var(--spacing-medium);
}

.header-nav__sub-item a {
    display: block;
    margin-top: var(--spacing-medium);
}

.sub-menu:hover .header-nav__sub-news {
    display: initial;
}

.sub-menu:hover .header-nav__sub-item {
    display: initial;
}

.active-header a {
    color: var(--color-text-accent);
}

.header-nav-list__user {
    align-items: center;
}

.header-nav-list__user-img {
    max-height: 48px;
    max-width: 48px;
}

.header-nav-list__user-img img {
    max-height: 48px;
    max-width: 48px;
    object-fit: cover;
}

.header-nav-list__user-name {
    margin-left: var(--spacing-small);
    color: var(--color-text);
    font-size: var(--font-size-normal);
    align-items: center;
}

.header-nav-list__logo {
    align-items: center;
}

.site-logo {
    width: 150px;
    height: 40px;
    background: url("../image/logo/Logo.png") no-repeat;
    background-size: contain;
    margin-left: var(--spacing-small);
}

/* post */
.post {
    color: var(--color-text);
}

.post__img-container {
    position: relative;
}

.post__img-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post__title {
    position: absolute;
    left: var(--spacing-large);
    bottom: var(--spacing-large);
    background-color: var(--color-dark);
    padding: var(--spacing-extra-small);
    color: var(--color-text);
}

/* post main */
.post__main-container {
    position: relative;
}

.post__category {
    text-align: center;
}

.post__tags {
    text-align: center;
}

.post__content {
    font-size: var(--font-size-normal);
    text-align: justify;
}

/* post footer */
.post__author-img img {
    max-height: 50px;
    max-width: 50px;
}

.post__author-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post__author-item {
    color: var(--color-text-second);
}

.post__action {
    position: absolute;
    right: var(--spacing-large);
    bottom: var(--spacing-large);
}

.post__action-list {
    align-items: center;
}

.post__action-list-item:not(:last-child) {
    margin-right: var(--spacing-medium);
}

.post__action-list-item:first-child {
    margin-right: var(--spacing-small);
}

.like-icon {
    width: 20px;
    height: 18px;
    background-image: url("../image/icon/heart.svg");
    background-size: contain;
}

.fav-icon {
    width: 24px;
    height: 24px;
    background: url("../image/icon/star.svg") no-repeat;
    background-size: contain;
}

.action-post {
    cursor: pointer;
}

.like-icon-true {
    background-image: url("../image/icon/heart-accent.svg");
}

/* character */
.character-post__title {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.character-post__title p {
    font-family: "Jura Regular", sans-serif;
    font-size: var(--font-size-normal);
    color: var(--color-text-second);
}

.character-post__img-container {
    width: 50%;
}

.character-post__img-bg {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.character-post__img-bg img {
    max-width: 192px;
    max-height: 192px;
    display: block;
    margin: auto;
}

/* aside */
.aside h2 {
    text-align: center;
}

.aside-post {
    position: relative;
    margin-top: var(--spacing-medium);
    width: 100%;
}

.aside-post-container {
}

.aside-post-container img {
    width: 100%;
    max-height: 140px;
    object-fit: cover;
}

.aside-post__title {
    position: absolute;
    bottom: var(--spacing-small);
    left: var(--spacing-small);
    color: var(--color-text);
    background-color: var(--color-dark);
    padding: var(--spacing-extra-small);
}

/* category/tag list */
.cat-tag-main {
    background: var(--btn-color-category);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.cat-tag-main h1 {
    padding: var(--spacing-large) var(--spacing-extra-large);
}

.cat-tag-list__item {
    margin-right: var(--spacing-small);
    padding: var(--spacing-small);
    background-color: var(--btn-color-category);
}

.cat-tag-list__item:hover {
    color: var(--color-text);
    background-color: var(--btn-color-category-hover);
}

/* map */
.map-list__item {
    display: flex;
}

.map-list__item {
    align-items: center;
    background: var(--color-second-frame);
}

.map-list__item:not(:last-child) {
    margin-bottom: var(--spacing-small);
}

.map-list__item a {
    font-size: var(--font-size-normal);
    margin-left: var(--spacing-small);
}

.map-list__item-num {
    min-width: var(--block-number-width);
    padding: var(--spacing-medium);
    background: var(--btn-color-category);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

/* footer */
.footer {
    max-height: 243px;
    display: block;
    padding: var(--spacing-large);
}

.footer small {
    text-align: center;
    color: var(--color-text-second);
    margin-top: var(--spacing-large);
}

.footer-nav {
    color: var(--color-text);
    justify-content: space-evenly;
}

/* other */

.bg-color {
    background-color: var(--color-frame);
}

.bg-color-second {
    background-color: var(--color-second-frame);
}

.bg-color-third {
    background-color: var(--color-third-frame);
}

.pl-4-aside {
    padding-left: 1.5rem;
}

.line hr {
    max-width: 30px;
    height: var(--height-line);
    background-color: var(--color-white);
}

.line-right {
    height: 100%;
    padding-right: var(--spacing-medium);
    border-right: var(--border-author-right);
    margin-right: var(--spacing-medium);
}

.line-left {
    height: 50%;
    padding-left: var(--spacing-medium);
    border-left: var(--border-item-left-white);
    margin-left: var(--spacing-medium);
}

.line-bottom {
    width: 100%;
    padding-bottom: var(--spacing-medium);
    border-bottom: var(--border-author-bottom);
    margin-bottom: var(--spacing-medium);
}

.discord {
    height: 500px;
    margin-top: var(--spacing-extra-large);
}

.blue {
    color: var(--color-rarity-blue);
}

.gold {
    color: var(--color-rarity-gold);
}

.violet {
    color: var(--color-rarity-violet);
}

.line-vertical {
    height: 100%;
    width: 1px;
    background-color: var(--color-frame);
}

.line-vertical-white {
    height: 100%;
    width: 1px;
    background-color: var(--color-white);
}

/* comment */
.form-comment-container {

}

.form-comment__field {
    width: 100%;
    height: 180px;
    max-height: 200px;
    resize: vertical;
    padding: var(--spacing-medium);
    font-family: "Jura SemiBold", sans-serif;
    font-size: var(--font-size-normal);
    border: 0;
}

.form-comment__button {
    padding: var(--spacing-small);
    color: var(--color-text);
    background-color: var(--color-text-accent);
    border: 0;
    cursor: pointer;
    font-size: var(--font-size-normal);
    font-family: "Jura SemiBold", sans-serif;
    width: 150px;

}

.button-pos {
    display: flex;
    justify-content: right;
}

/* user comment */
.comment__author {
    display: inline-block;
    color: var(--color-text);
    margin-right: var(--spacing-medium);
    padding: var(--spacing-small);
}

.comment__author img {
    max-width: 100px;
    max-height: 100px;
}

.comment__author-info {
    flex-direction: column;
    text-align: center;
}

.comment__user-name {
    font-size: var(--font-size-normal);
}

.comment__date {
    font-size: var(--font-size-small);
    color: var(--color-text-second);
}

.comment__field {
    width: 100%;
    padding: var(--spacing-small);
    overflow: hidden;
}

.comment__content {
    box-sizing: border-box;
    width: 100%;
    padding: var(--spacing-medium);
    background-color: var(--color-bg-comment);
    font-family: "Jura Medium", sans-serif;
    font-size: var(--font-size-normal);
    overflow: hidden;
}

/* item */
.item-main {
    display: flex;
    background-color: var(--color-second-frame);
}

.item-main__bg {
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    text-align: center;
}

.item-main__name {
    align-items: center;
}

.item-image {
    width: 100px;
    height: 100px;
}

/* character list */
.character-list-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.character-list-header__image {
    width: 30px;
}

.character-list-header__text {
    font-family: "Cyberwar",
    sans-serif;
    cursor: pointer;
    font-size: var(--font-size-medium);
}

.character-list-header__item :not(:last-child) {
    margin-right: var(--spacing-small);
}

.X {
    background-color: var(--color-rarity-grey);
}

.N {
    background-color: var(--color-rarity-green);
}

.R {
    background-color: var(--color-rarity-blue);
}

.SR {
    background-color: var(--color-rarity-violet);
}

.SSR {
    background-color: var(--color-rarity-gold);
}

.character-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.character-list__character {
    width: 170px;
    margin-top: var(--spacing-large);
    display: inline-block;
}

.character-list__avatar {
    position: relative;
    display: block;
    text-align: center;
}

.character-list__avatar img {
    width: 100px;
}

.character-list__spec-element img {
    position: absolute;
    width: 32px;
}

.spec img {
    left: var(--spacing-small);
    bottom: var(--spacing-extra-small);
}

.element img {
    right: var(--spacing-small);
    bottom: var(--spacing-extra-small);
}

.character-name {
    text-align: center;
    overflow: hidden;
}

.character-weapon {
    align-items: center;
    justify-content: space-between;
}

.character-weapon__name {
    overflow: hidden;
    text-align: center;
}

.character-weapon__name a {
    text-wrap: normal;
    margin-right: var(--spacing-extra-small);
    color: var(--color-text-second);
}

.character-weapon__name a:hover {
    color: var(--color-text);
}

.character-weapon__img img {
    max-width: 64px;
}

/* items list */
.items-list-header {
    display: flex;
    flex-wrap: nowrap;
}

.items-list-header__img-container img {
    max-width: 64px;
    max-height: 64px;
}

.items-list-header__name {
    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
}

.items-list-header__text {
    font-family: "Cyberwar", sans-serif;
    cursor: pointer;
    font-size: var(--font-size-medium);
}

.items-list-header__img-container {
    width: 40%;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    text-align: center;
}

.items-list-header__item {
    display: flex;
    margin-left: var(--spacing-extra-large);
    align-items: center;
}

.items-list-header__item li:not(:last-child) {
    margin-right: var(--spacing-small);
}

.items-list-header__arrow {
    width: 16px;
    height: 9px;
    background: url("../image/icon/arrow.svg") no-repeat;
    background-size: contain;
    transform: rotate(270deg);
    margin: 0 var(--spacing-small);
}

.items-list-header__relic-name {
    cursor: pointer;
}

.items-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.items-list__item {
    width: 150px;
    display: inline-block;
}

.items-list__img {
    position: relative;
    display: block;
    text-align: center;
}

.items-list__img img {
    width: 100px;
}

.items-list__rarity img {
    position: absolute;
    width: 48px;
    height: 48px;
    right: var(--spacing-small);
    bottom: var(--spacing-extra-small);
}

/* element single */
.element-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rarity-image {
    width: 64px;
}

.description-main {
    display: flex;
}

.description-main section:not(:last-child) {
    margin-right: var(--spacing-large);
}

.description-single {
    width: 50%;
}

.description-single__item h2 {
    margin-bottom: var(--spacing-medium);
}

.description-single__cooldown {
    display: inline-block;
}

.description-single__cooldown li:not(:last-child) {
    margin-bottom: var(--spacing-small);
}

.description-single__text {
    font-size: var(--font-size-normal);
    color: var(--color-text);
}

.advancements-list li {
    align-items: center;
}

.advancements-list li:not(:last-child) {
    margin-bottom: var(--spacing-small);
}

.advancements-item__star-container {
    padding: var(--spacing-small);
    margin-right: var(--spacing-small);
}

.advancements-item__star-container img {
    margin-right: var(--spacing-medium);
    cursor: pointer;
}

/* ingredients-list-recipe */
.ingredients-list-recipe__item {
    display: flex;
    align-items: center;
}

.ingredients-list-recipe__item div img {
    width: 64px;
    height: 64px;
}

.ingredients-list-recipe__img-container {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: var(--spacing-medium);
}

.ingredients-list-recipe__amount {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    align-items: center;
    bottom: -16px;
    right: -16px;
}

.ingredients-list-recipe li:not(:last-child) {
    margin-bottom: var(--spacing-medium);
}

/* food table */
.food-table {
    border-spacing: 0 var(--spacing-small);
}

.food-table__image {
    width: 96px;
}

.food-table__image img {
    width: 96px;
    height: 96px;
}

.food-table__recipe {
    text-align: center;
}

.food-table__rarity {
    text-align: center;
}

.food-table__rarity img {
    width: 36px;
}

.food-table__ingredients {
    text-align: center;
}

.food-table__ingredients li {
    display: flex;
    flex-direction: inherit;
    align-items: center;
}

.ingredient-list li:not(:last-child) {
    margin-bottom: var(--spacing-extra-small);
}

.ingredient-list__item div {
    margin-right: var(--spacing-extra-small);
}

.ingredient-image {
    width: 32px;
    height: 32px;
}

/* character */
.character-menu {
    display: flex;
}

.character-menu__item {
    background-color: var(--color-second-frame);
    padding: var(--spacing-small);
}

.active-menu-char {
    background-color: var(--color-frame);
}

.active-menu-char a {
    color: var(--color-text-accent) !important;
}

.character-container-header {
    justify-content: space-between;
}

.character-menu__item:first-child {
    margin-left: var(--spacing-medium);
}

.character-menu__item:not(:last-child) {
    margin-right: var(--spacing-small);
}

.character-image-container img {
    width: 100px;
    height: 100px;
}

.weapon-image {
    align-items: center;
}

.weapon-image-container img {
    width: 64px;
    height: 64px;
}

.weapon-stats-list {
    color: var(--color-text);
}

.weapon-stats-list__item div {
    align-items: center;
}

.weapon-stats-list__item:not(:last-child) {
    margin-right: var(--spacing-medium);
}

.weapon-stats-name {
    color: var(--color-text-second);
}

.stat-image {
    width: 32px;
    margin-right: var(--spacing-extra-small);
}

.weapon-stats-name__item {
    font-size: var(--font-size-medium);
}

.description-main-character {
    display: flex;
    flex-direction: column;
}

.character-star {
    display: flex;
    align-items: center;
    color: var(--color-text);
}

.character-star:not(:first-child) {
    margin-top: var(--spacing-small);
}

.star-container {
    margin-right: var(--spacing-small);
}

.star-image {
    width: 24px;
    height: 24px;
    margin-right: var(--spacing-small);
}

.star-num {
    font-size: var(--font-size-normal);
    white-space:nowrap;
}

.star-description {
    font-size: var(--font-size-normal);
}

.character-matrix-container {
    align-items: center;
}

.character-matrix {
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: var(--font-size-normal);
    padding: var(--spacing-small);
}

.character-matrix:not(:first-child) {
    margin-top: var(--spacing-small);
}

.character-matrix-image img {
    width: 100px;
    height: 100px;
    margin-right: var(--spacing-small);
}

.weapon-attack {
    color: var(--color-text);
    font-size: var(--font-size-normal);
}

.weapon-attack__combo-title {
}

.weapon-attack-list__item {
    padding: var(--spacing-small);
    align-items: center;
}

.weapon-attack-list__item:not(:first-child) {
    margin-top: var(--spacing-extra-small);
}

.weapon-attack-list__num {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-right: var(--spacing-small);
}

.weapon-attack h2 {
    margin-bottom: var(--spacing-medium);
}

/* personal */
.user-card {
    background-color: var(--color-second-frame);
}

.user-card__main {
    align-items: center;
}

.user-avatar {
    display: flex;
    align-items: center;
}

.user-avatar__image {
    max-width: 100px;
    max-height: 100px;
}

.user-info {
    color: var(--color-text);
    font-size: var(--font-size-normal);
}

.user-info label {
    font-weight: bold;
}

.user-info li:not(:last-child) {
    margin-bottom: var(--spacing-small);
}

.user-card-footer {
    justify-content: space-around;
}

.button {
    padding: var(--spacing-small);
    color: var(--color-text);
    background-color: var(--btn-color);
    border: 0;
    cursor: pointer;
    font-size: var(--font-size-normal);
    font-family: "Jura SemiBold", sans-serif;
}

.button:hover {
    color: var(--color-text);
    background-color: var(--btn-color-hover);
}

.user-delete {
    background-color: var(--btn-color-delete);
}

.user-edit:hover {
    background-color: var(--btn-color-hover);
}

.user-delete:hover {
    background-color: var(--btn-color-delete-hover);
}

.user-card__liked {
    display: block;
}

.user-card__liked-container {
    display: flex;
    justify-content: space-around;
}


.user-info li {
    display: flex;
    flex-direction: column;
}

.edit-info {
    margin-top: var(--spacing-extra-small);

    background-color: var(--color-frame);
    color: var(--color-text);

    height: calc(2.25rem + 2px);
    padding: var(--spacing-medium);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid var(--color-third-frame);
}

.old-pass {
    color: var(--color-text);
    font-size: var(--font-size-normal);
}

.text-danger-message {
    color: var(--color-text-danger);
    font-size: var(--font-size-normal);
}


.liked-table {
    color: var(--color-text);
    font-size: var(--font-size-normal);
    width: 100%;
    border-collapse: collapse;

}

.liked-table thead th {
    border-bottom: 2px solid var(--color-text);
    padding: var(--spacing-small);
    text-align: left;
}

.liked-table tbody td {
    background-color: var(--color-third-frame);
    padding: var(--spacing-small);
    border-top: 1px solid var(--color-text);
    vertical-align: top;
    align-items: center;
}

.liked-action {
    display: inline-block;
}

.ww-anywhere {
    word-wrap: anywhere;
}

.ww-break {
    word-wrap: break-word;
}

.pagination {
    display: flex;
    font-size: var(--font-size-normal);
}

.page-item {
    background-color: var(--color-text-accent);
    padding: var(--spacing-small);
    margin: var(--spacing-extra-small);
}

.disabled {
    color: var(--color-text-disabled);
}

.active {
    color: var(--color-text);
    background-color: var(--color-text-disabled);
}

.border-0 {
    border: 0 !important;
}

.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

.liked-table-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

@media (max-width: 1199.98px) {
    .pl-4-aside {
        padding-left: 0;
    }

    .aside-article-container {
        display: flex;
        justify-content: space-evenly;
    }

    .discord {
        height: 462px;
        width: 35%;
        margin-top: var(--spacing-medium);
    }

    .description-main {
        display: initial;
    }

    .description-single {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .header-nav {
        flex-direction: column;
        align-items: center;
    }

    .header-nav-list {
        margin-top: var(--spacing-medium);
        margin-bottom: var(--spacing-medium);
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }

    .user-card__liked {
        display: flex;
        justify-content: center;
    }

    .user-card__liked-container {
        flex-direction: column;
    }

    .discord {
        height: 462px;
        width: 50%;
        margin-top: var(--spacing-medium);
    }

    .sub-menu {
        display: block;
        flex-direction: column;
        text-align: left;
    }

    .header-nav__sub-news {
        display: flex;
        flex-direction: column;
        position: relative;
        top: initial;
        left: var(--spacing-medium);
        background-color: initial;
        padding: 0;
        z-index: 0;
    }

    .header-nav__sub-item {
        display: flex;
        flex-direction: column;
        position: relative;
        top: initial;
        left: var(--spacing-medium);
        background-color: initial;
        padding: 0;
        z-index: 0;
    }

    .header-nav__sub-news a {
        margin-top: 0;
    }

    .header-nav__sub-item a {
        margin-top: 0;
    }

    .sub-menu:hover .header-nav__sub-news {
        display: flex;
    }

    .sub-menu:hover .header-nav__sub-item {
        display: flex;
    }

    .header-nav-list__icon {
        display: none;
    }

    /*.character-post__title {*/
    /*    text-align: center;*/
    /*}*/
    /*.character-post__img-container {*/
    /*    text-align: center;*/
    /*}*/
    /*.character-post__img-bg {*/
    /*    clip-path: unset;*/
    /*}*/
    /*.character-post__img-bg img {*/
    /*    object-fit: cover;*/
    /*    width: 100%;*/
    /*    height: 130px;*/
    /*}*/
}

@media (max-width: 576px) {
    .aside-article-container {
        display: initial;
    }

    .aside-post-container img {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

    .discord {
        width: 100%;
        margin-top: var(--spacing-medium);
    }
}
